<div class="char_field">
  <%= f.label :gender %><br>
  <%= f.radio_button( :gender, "f", checked: true ) %>
  <%= f.label( :gender_m, "Female" ) %>
  <%= f.radio_button( :gender, "m" ) %>
  <%= f.label( :gender_m, "Male" ) %>
  <%= f.radio_button( :gender, "o" ) %>
  <%= f.label( :gender_o, "Other" ) %>
</div>

<%= f.label(:first_name) { "First Name <a id='firstNameRand' to='#'>Randomize</a>".html_safe } %>
<%= f.text_field :first_name %>

<%= f.label(:last_name) { "Last Name <a id='lastNameRand' to='#'>Randomize</a>".html_safe } %>
<%= f.text_field :last_name %>

<%= f.label :alias %>
<%= f.text_field :alias %>

<%= f.label :profession %>
<%= f.text_field :profession %>

<%= f.label :employer %>
<%= f.text_field :employer %>

<%= f.label :nationality %>
<%= f.text_field :nationality %>

<%= f.label(:date_of_birth) { "Date of birth <a id='dateOfBirthRand' to='#'>Randomize</a>".html_safe } %>
<%= f.date_field :date_of_birth %>

<%= f.label :education_and_occupational_history %>
<%= f.text_field :education_and_occupational_history %>

<%= f.submit 'Save', class: 'button' %>

<script type="text/javascript">
  $(window).load(function() {
    $('#firstNameRand').click(function(event) {
      event.preventDefault()
      CoC.Character.randomFirstName(
              'delta-green',
              'dg_character_first_name',
              'dg_character[gender]');
    });

    $('#lastNameRand').click(function(event) {
      event.preventDefault()
      CoC.Character.randomLastName(
        'delta_green',
        'dg_character_last_name');
    });

    $('#dateOfBirthRand').click(function(event) {
      event.preventDefault()
      CoC.Character.dateOfBirth('dg_character_date_of_birth');
    });
  })
</script>
