<div class="dg-card character-card">
  <div class="dg-card-header character-card-header">
    <div class="header-container">
      <div class="header-title">
        <%= link_to(character.display_name, character, method: :get) %>
        <%= link_to(dg_character_path(character, format: :pdf), class: 'download-pdf', method: :get)  do %>
          <%= fa_icon 'download' %>
        <% end %>
      </div>
      <div class="header-subtitle"><%= character.user.display_name %></div>
    </div>
  </div>
  <div class="dg-card-section">
    <h5>Stats</h5>
    <div class="grid-x grid-margin-x">
      <div class='cell small-12 medium-7'>
        <table class='unstriped'>
          <tr class="stat-row">
            <td class="stat-label">STR</td>
            <td class="stat-value"><%= character.statistic_set&.strength %></td>
            <td class="stat-value"><%= character.statistic_set&.strength&.* 5 %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">CON</td>
            <td class="stat-value"><%= character.statistic_set&.constitution %></td>
            <td class="stat-value"><%= character.statistic_set&.constitution&.* 5 %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">DEX</td>
            <td class="stat-value"><%= character.statistic_set&.dexterity %></td>
            <td class="stat-value"><%= character.statistic_set&.dexterity&.* 5 %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">INT</td>
            <td class="stat-value"><%= character.statistic_set&.intelligence %></td>
            <td class="stat-value"><%= character.statistic_set&.intelligence&.* 5 %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">POW</td>
            <td class="stat-value"><%= character.statistic_set&.power %></td>
            <td class="stat-value"><%= character.statistic_set&.power&.* 5 %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">CHA</td>
            <td class="stat-value"><%= character.statistic_set&.charisma %></td>
            <td class="stat-value"><%= character.statistic_set&.charisma&.* 5 %></td>
          </tr>
        </table>
      </div>
      <div class='cell small-12 medium-5'>
        <table class='unstriped'>
          <tr class="stat-row">
            <td class="stat-label">HP</td>
            <td class="stat-value"><%= character.statistic_set&.hit_points %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">SAN</td>
            <td class="stat-value"><%= character.statistic_set&.sanity %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">BP</td>
            <td class="stat-value"><%= character.statistic_set&.breaking_point %></td>
          </tr>
          <tr class="stat-row">
            <td class="stat-label">WP</td>
            <td class="stat-value"><%= character.statistic_set&.willpower %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="high-skills">
      <h5>High Skills</h5>
      <% skills = (character.skill_set&.skills || []).to_a.select { |a| a.last.kind_of?(Integer) }.sort_by(&:last).reverse
      unless skills.empty?
        level_limit = skills[10].last
        skills.select { |s| s.last >= level_limit }.each do |attr_value|
          attr, value = attr_value
          unless attr =~ /_\d_text/
            if attr =~ /_\d/
            %> <div class="high-skill"><%= character.skill_set.attributes["#{attr}_text"] %>: <%= value %>%</div> <%
            else
            %> <div class="high-skill"><%= attr.humanize.capitalize %>: <%= value %>%</div> <%
            end
          end
        end
      %>
  <% end %>
    </div>
  </div>
</div>
