<div class="dg-card">
  <div class="dg-card-header">
    <div class="clearfix" style="width: 100%">
      <div class="float-left">
        <h4>Personal Data</h4>
      </div>
      <div class="float-right">
        <%= link_to(dg_character_path(character, format: :pdf), class: 'download-pdf large-font', method: :get) do %>
          <%= fa_icon 'download' %>
        <% end %>
      </div>
      <% if policy(character).edit? %>
        <div class="float-right">
          <%= link_to( 'Edit', edit_dg_character_path(character), class: 'button small') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dg-card-section">
    <div class="grid-x">
      <div class="cell small-12 medium-7 attribute">
        <div class='attribute-label'>Name</div>
        <div class='attribute-value'><%= character.display_name %></div>
      </div>
      <div class="cell small-12 medium-5 attribute">
        <div class='attribute-label'>Profession</div>
        <div class='attribute-value'><%= character.profession %></div>
      </div>
      <div class="cell small-12 medium-7 attribute">
        <div class='attribute-label'>Employer</div>
        <div class='attribute-value'><%= character.employer %></div>
      </div>
      <div class="cell small-12 medium-5 attribute">
        <div class='attribute-label'>Nationality</div>
        <div class='attribute-value'><%= character.nationality %></div>
      </div>
      <div class="cell small-12 medium-3 attribute">
        <div class='attribute-label'>Gender</div>
        <div class='attribute-value'><%= character.gender %></div>
      </div>
      <div class="cell small-12 medium-3 attribute">
        <div class='attribute-label'>Age and D.O.B.</div>
        <div class='attribute-value'><%= character.display_age_and_dob %></div>
      </div>
      <div class="cell small-12 medium-6 attribute">
        <div class='attribute-label'>Education and Occupational History</div>
        <div class='attribute-value'><%= character.education_and_occupational_history %></div>
      </div>
    </div>
  </div>
</div>
