<table class="hover">
  <thead>
    <th>Player</th>
    <th>Name</th>
    <th>Profession</th>
    <th>Age</th>
  </thead>

  <% characters.each do |character| %>
    <tr>
      <td><%= character.user.display_name %></td>
      <td>
        <%= link_to character.display_name, character, method: :get %>
        <%= link_to(dg_character_path(character, format: :pdf), class: 'download-pdf', method: :get) do %>
          <%= fa_icon 'download' %>
        <% end %>
      </td>
      <td><%= character.profession %></td>
      <td><%= character.age %></td>
    </tr>
  <% end %>
</table>
<div class="add-new-link">
  <%= link_to(new_dg_campaign_character_path(campaign.id), method: :get) do %>
    <%= fa_icon 'plus' %> Add New Character
  <% end %>
</div>
