<%= f.label(:first_name) { "First Name | <a class='random-link' id='firstNameRandMale' to='#'>Random (Masculine)</a> | <a class='random-link' id='firstNameRandFemale' to='#'>Random (Feminine)</a>".html_safe } %>
<%= f.text_field :first_name %>

<%= f.label(:last_name) { "Last Name | <a id='lastNameRand' to='#'>Random</a>".html_safe } %>
<%= f.text_field :last_name %>

<%= f.label :alias %>
<%= f.text_field :alias %>

<%= f.label :gender %>
<%= f.text_field :gender %>

<%= f.label :profession %>
<%= f.text_field :profession %>

<%= f.label :employer %>
<%= f.text_field :employer %>

<%= f.label :nationality %>
<%= f.text_field :nationality %>

<div class="grid-x">
  <div class="cell small-8">
    <%= f.label(:date_of_birth) { "Date of birth | <a id='dateOfBirthRand' to='#'>Random</a>".html_safe } %>
    <%= f.date_field :date_of_birth %>
  </div>
  <div class="cell small-4">
    <div style="padding-left: 10px">
      <%= f.label(:age) %>
      <div id="age" style="padding-top: 5px" > </div>
    </div>
  </div>
</div>

<%= f.label :education_and_occupational_history %>
<%= f.text_field :education_and_occupational_history %>

<%= f.submit 'Save', class: 'button' %>
<%= link_to 'Cancel', character, method: :get, class: 'button secondary' %>

<script type="text/javascript">

$('#firstNameRandMale').click(function(event) {
  event.preventDefault()
  CoC.Character.randomFirstName('delta-green', 'dg_character_first_name', 'm')
});

$('#firstNameRandFemale').click(function(event) {
  event.preventDefault()
  CoC.Character.randomFirstName('delta-green', 'dg_character_first_name', 'f')
});

$('#lastNameRand').click(function(event) {
  event.preventDefault()
  CoC.Character.randomLastName(
    'delta_green',
    'dg_character_last_name');
});

const _updateDate = () => {
  var ageDifMs = Date.now() - new Date($('#dg_character_date_of_birth').val()).getTime()
  var ageDate = new Date(ageDifMs)
  $('#age').html(Math.abs(ageDate.getUTCFullYear() - 1970))
}

$('#dateOfBirthRand').click(function(event) {
  event.preventDefault()
  CoC.Character.dateOfBirth('dg_character_date_of_birth', _updateDate);
});

$('#dg_character_date_of_birth').change(_updateDate)
_updateDate()

</script>
