<%= render '/shared/header' %>
<%= render '/shared/breadcrumbs', crumbs: [
  link_to(character.campaign.name, character.campaign),
  link_to(character.display_name, character),
  'Edit'] %>
<div class="grid-x align-center">
  <div class="cell small-12 medium-6">
    <fieldset class="fieldset">
      <legend>Edit Bonds</legend>
      <% if character.skill_set %>
        <%= form_for character, method: :put, url: dg_character_bonds_path(character) do |f| %>
          <% character.skill_set.bonds.times do |i| %>
            <%= f.text_field "bonds", multiple: true, value: character.bonds[i] %>
          <% end %>
          <%= f.submit 'Save', class: 'button' %>
        <% end %>
      <% else %>
        <div class="callout primary">
          You must set skills before choosing your bonds.
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
