<div class="top-bar">
  <div class="top-bar-left">
    <ul class="breadcrumbs">
      <li><%= link_to('Home', user_path(current_user)) %></li>
      <li><%= link_to(character.campaign.name, character.campaign) %></li>
      <li><%= link_to(character.display_name, character) %></li>
      <li>Edit</li>
    </ul>
  </div>
</div>
<div class="row align-center">
  <div class="column small-12 medium-6">
    <fieldset class="fieldset">
      <legend>Edit Character</legend>
      <%= form_for character, method: :put, url: dg_character_path(character) do |f| %>
        <%= render 'character_inputs', f: f, character: character %>
      <% end %>
    </fieldset>
  </div>
</div>
