<%= render '/shared/header' %>
<%= render '/shared/breadcrumbs', crumbs: [
  link_to(character.campaign.name, character.campaign),
  character.display_name] %>

<div class="grid-x align-center">
  <div class="cell small-12 medium-10">
    <%= render 'character_attributes', character: character %>
  </div>
</div>

<div class="grid-x align-center">
  <div class="cell small-12 medium-10">
    <%= render 'character_statistics', character: character %>
  </div>
</div>

<div class="grid-x align-center">
  <div class="cell small-12 medium-10">
    <%= render 'character_skills', character: character %>
  </div>
</div>

<div class="grid-x align-center">
  <div class="cell small-12 medium-10">
    <%= render 'character_bonds', character: character %>
  </div>
</div>
