<%= render '/shared/header' %>
<%= render '/shared/breadcrumbs', crumbs: ["New Campaign'] %>
<div class="grid-x align-center">
  <div class="cell small-12 medium-6">
    <%= form_for :campaign, method: :post, url: dg_campaigns_path do |f| %>
      <%= render '/errors' %>

      <fieldset class="fieldset">
        <legend><%= campaign.nil? ? 'New' : 'Edit' %> Campaign</legend>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit 'Save', class: 'button' %>
      </fieldset>
    <% end %>
  </div>
</div>
