<h1><%= "#{@character.first_name} #{@character.last_name}" %> Choose Skills</h1>
<p>Choose your skill occupation.  The skill occupation is for choosing
  your occupation-specific skills, and does not have to exactly match
  your previously chosen character's occupation.  However, it should
  appropriately represent your character's occupational skills.  For
  example, if your character's occupation is "Train Conductor," the
  closest match for skill occupation would be "Pilot."  If you cannot
  find an appropriate skill set for your chosen occupation, chose "other",
  but be sure to consult with your GM.</p>

<%= form_for :skill_set, method: :post, url: character_skill_sets_path do |f| %>
  <%= f.select( :skill_occupation,
                 options_for_select(
                         [['---Choose Occupation---', '']] +
                         occupations.keys.collect do |occupation|
                           [sym_to_title( occupation ), occupation]
                         end
                 )) %>
  <table id="occupational_skill_table"></table>
  <br/>
  <div>
    Total Professional Skill Points:
    <span id="occ_total" original="<%= @character.characteristic_set.occupation_skill_points %>">
        <%= @character.characteristic_set.occupation_skill_points %>
    </span>
  </div>
  <div>
    Total Personal Interest Skill Points:
    <span id="pi_total" original="<%= @character.characteristic_set.personal_interest_points %>">
      <%= @character.characteristic_set.personal_interest_points %>
    </span>
  </div>
  <br/>

  <div>
    <table id='skill_table'>
      <thead>
        <th>Skill</th>
        <th>Base Points</th>
        <th>Spent Points</th>
        <th>Total Points</th>
      </thead>
    </table>
  </div>


  <%= f.submit 'Submit' %>
<% end %>
<script type="text/javascript">

  $(window).load(function() {
    var pointTracker = new CoC.SkillPointTracker( {
      occupationalSkillTableId: 'occupational_skill_table',
      skillTableId: 'skill_table',
      occTotalId: 'occ_total',
      piTotalId: 'pi_total'
    });

    new CoC.OccupationalSkillList( {
      occupational_skill_table: 'occupational_skill_table',
      occupations: <%= occupations_json %>,
      skill_occupation: 'skill_set_skill_occupation',
      all_skills: <%= SkillSet::ALL_SKILLS.to_a.to_json.html_safe %>,
      skill_categories: <%= SkillSet::SKILL_CATEGORIES.to_a.to_json.html_safe %>,
      pointTracker: pointTracker
    });

    new CoC.SkillTable( {
      tableId: 'skill_table',
      allSkills: <%= all_skills( @character ).to_a.to_json.html_safe %>,
      skillCategories: <%= SkillSet::SKILL_CATEGORIES.to_a.to_json.html_safe %>,
      pointTracker: pointTracker
    });
  });
</script>


