<div id="order-div">
  <div id='sortable'>
    <div class="characteristic-order-item characteristic-order-box" characteristic='strength'>
      Strength
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:strength] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='dexterity'>
      Dexterity
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:dexterity] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='power'>
      Power
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:power] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='intelligence'>
      Intelligence
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:intelligence] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='appearance'>
      Appearance
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:appearance] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='constitution'>
      Constitution
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:constitution] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='size'>
      Size
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:size] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>

    <div class="characteristic-order-item characteristic-order-box" characteristic='education'>
      Education
      <span class="unknown-characteristic not-movable">
        <%= characteristics[:education] %>
      </span>
      <span class="movable-characteristic-container">
        <span class="movable-characteristic movable"></span>
      </span>
    </div>
  </div>
</div>