<div class="fright">
  <%= link_to( 'Character Page', character_path( @character ) ) + " | " if ( @character && @character.id ) %>
  <%= link_to 'Save', '#', onClick: 'return CoC.submitForm();' %>
</div>

<div class='page-title'>
  Character Weapons
</div>

<%= render '/errors' %>

<%= form_tag character_weapons_path( @character ), method: :put do |f| %>
  <%= hidden_field_tag 'weapon_list', value = @character.weapon_ids, id: 'weapon_list' %>
<% end %>

<%
   weapons = all_weapons.values.select do |w|
     w.common_in_era.include? '1920'
   end.sort do |a, b|
     a.id <=> b.id
   end

   melee_weapons = weapons.select { |w| w.type == 'hand_to_hand' }
   handgun_weapons = weapons.select { |w| w.type == 'handgun' }
   rifle_weapons = weapons.select { |w| w.type == 'rifle' }
   shotgun_weapons = weapons.select { |w| w.type == 'shotgun' }
 %>




<div class="weapon-table-title">
  Melee
</div>
<table>
  <thead>
    <th></th>
    <th>Weapon</th>
    <th>Base Chance</th>
    <th>Damage</th>
    <th>Range</th>
    <th>Attacks per Round</th>
  </thead>
  <% melee_weapons.each do |weapon| %>
    <tr>
      <td weapon_id="<%=weapon.id%>">
        <%= content_tag :div, 'Add', class: 'button addWeapon', type: 'button' %>
        <%= content_tag :div, 'Remove', class: 'button removeWeapon button-disabled', type: 'button' %>
      </td>
      <td><%= weapon.name %></td>
      <td><%= weapon.base %></td>
      <td><%= weapon.damage_done %></td>
      <td><%= weapon.base_range %></td>
      <td><%= weapon.attacks_per_round %></td>
    </tr>
  <% end %>
</table>

<div class="weapon-table-title">
  Handguns
</div>
<table>
  <thead>
    <th></th>
    <th>Weapon</th>
    <th>Base Chance</th>
    <th>Damage</th>
    <th>Range</th>
    <th>Attacks per Round</th>
    <th>Number of Bullets</th>
    <th>Malfunction</th>
  </thead>
  <% handgun_weapons.each do |weapon| %>
    <tr>
      <td weapon_id="<%=weapon.id%>">
        <%= content_tag :div, 'Add', class: 'button addWeapon', type: 'button' %>
        <%= content_tag :div, 'Remove', class: 'button removeWeapon button-disabled', type: 'button' %>
      </td>
      <td><%= weapon.name %></td>
      <td><%= weapon.base %></td>
      <td><%= weapon.damage_done %></td>
      <td><%= weapon.base_range %></td>
      <td><%= weapon.attacks_per_round %></td>
      <td><%= weapon.bullets_in_gun %></td>
      <td><%= weapon.mal %></td>
    </tr>
  <% end %>
</table>

<div class="weapon-table-title">
  Rifles
</div>
<table>
  <thead>
    <th></th>
    <th>Weapon</th>
    <th>Base Chance</th>
    <th>Damage</th>
    <th>Range</th>
    <th>Attacks per Round</th>
    <th>Number of Bullets</th>
    <th>Malfunction</th>
  </thead>
  <% rifle_weapons.each do |weapon| %>
    <tr>
      <td weapon_id="<%=weapon.id%>">
        <%= content_tag :div, 'Add', class: 'button addWeapon', type: 'button' %>
        <%= content_tag :div, 'Remove', class: 'button removeWeapon button-disabled', type: 'button' %>
      </td>
      <td><%= weapon.name %></td>
      <td><%= weapon.base %></td>
      <td><%= weapon.damage_done %></td>
      <td><%= weapon.base_range %></td>
      <td><%= weapon.attacks_per_round %></td>
      <td><%= weapon.bullets_in_gun %></td>
      <td><%= weapon.mal %></td>
    </tr>
  <% end %>
</table>

<div class="weapon-table-title">
  Shotguns
</div>
<table>
  <thead>
    <th></th>
    <th>Weapon</th>
    <th>Base Chance</th>
    <th>Damage</th>
    <th>Range</th>
    <th>Attacks per Round</th>
    <th>Number of Bullets</th>
    <th>Malfunction</th>
  </thead>
  <% shotgun_weapons.each do |weapon| %>
    <tr>
      <td weapon_id="<%=weapon.id%>">
        <%= content_tag :div, 'Add', class: 'button addWeapon', type: 'button' %>
        <%= content_tag :div, 'Remove', class: 'button removeWeapon button-disabled', type: 'button' %>
      </td>
      <td><%= weapon.name %></td>
      <td><%= weapon.base %></td>
      <td><%= weapon.damage_done %></td>
      <td><%= weapon.base_range %></td>
      <td><%= weapon.attacks_per_round %></td>
      <td><%= weapon.bullets_in_gun %></td>
      <td><%= weapon.mal %></td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(window).load(function() {
    $('.addWeapon').click(CoC.addWeapon)
    $('.removeWeapon').click(CoC.removeWeapon)
    _.each($('#weapon_list').val().split(','), function(id) {
      $('td[weapon_id='+id+'] .addWeapon').click();
    })
  });

  CoC.addWeapon = function(event) {
    var addButton = $(event.target);
    if(!addButton.hasClass('button-disabled')) {
      var removeButton = addButton.siblings('.removeWeapon');
      addButton.addClass('button-disabled');
      removeButton.removeClass('button-disabled');
      addButton.parents('tr').addClass('selected')
      CoC.refreshList();
    }
  };

  CoC.removeWeapon = function(event) {
    var removeButton = $(event.target);
    if(!removeButton.hasClass('button-disabled')) {
      var addButton = removeButton.siblings('.addWeapon');
      removeButton.addClass('button-disabled');
      addButton.removeClass('button-disabled');
      addButton.parents('tr').removeClass('selected')
      CoC.refreshList();
    }
  };

  CoC.refreshList = function() {
    var ids = [];
    _.each($('.addWeapon'), function(button) {
      if($(button).hasClass('button-disabled')) {
        ids.push($(button).parents('td').attr('weapon_id'));
      }
    });
    $('#weapon_list').val(ids.join(','));
  }
</script>