<div class="fright">
  <%= link_to( 'Characters', characters_path ) + " | "  unless ( character  && character.id ) %>
  <%= link_to( 'Character Page', character_path( character ) ) + " | " if ( character && character.id ) %>
  <%= link_to 'Save', '#', onClick: 'return CoC.submitForm();' %>
</div>

<div class='page-title'>
  Character Information
</div>

<%= render '/errors' %>

<div class="char_field">
  <%= f.label :player_name %><br>
  <%= f.text_field :player_name %>
</div>

<div class="char_field">
  <%= f.label :gender %><br>
  <%= f.radio_button( :gender, "f", checked: true ) %>
  <%= f.label( :gender_m, "Female" ) %>
  <%= f.radio_button( :gender, "m" ) %>
  <%= f.label( :gender_m, "Male" ) %>
  <%= f.radio_button( :gender, "o" ) %>
  <%= f.label( :gender_o, "Other" ) %>
</div>

<div class="char_field">
  <%= f.label :first_name %><br>
  <div class="fleft"><%= f.text_field :first_name %></div> <%= content_tag :div, 'Random', id: 'firstNameRand', class: 'button' %>
  <div class="cleft"></div>
</div>

<div class="char_field">
  <%= f.label :last_name %><br>
  <div class="fleft"><%= f.text_field :last_name %></div>
  <%= content_tag :div, 'Random', id: 'lastNameRand', class: 'button fleft' %>
  <div class="cleft"></div>
</div>

<div class="char_field">
  <%= f.label :occupation %><br>
  <%= f.text_field :occupation %>
</div>

<div class="char_field">
  <%= f.label :degrees %><br>
  <%= f.text_field :degrees%>
</div>

<div class="char_field">
  <%= f.label :birthplace %><br>
  <div class="fleft"><%= f.text_field :birthplace %></div>
  <%= content_tag :div, 'Random', id: 'cityRand', class: 'button fleft' %>
  <div class="cleft"></div>
</div>

<div class="char_field">
  <%= f.label :age %><br>
  <%= f.select(:age, options_for_select((1..100).collect { |i| [i, i]}, (character.age if character))) %>
</div>

<script type="text/javascript">
  $(window).load(function() {
    $('#firstNameRand').click(function() {
      CoC.Character.randomFirstName(
              'character_first_name',
              'character[gender]');
    });
    $('#lastNameRand').click(function() {
      CoC.Character.randomLastName(
              'character_last_name'
      )
    });
    $('#cityRand').click(function() {
      CoC.Character.randomCity(
              'character_birthplace'
      )
    });
  })
</script>