<div class="character-summary table-summary">
  <div class="table-title">
    <span>Character Summary</span>
    <span class="fright">
      <%= link_to 'Edit', edit_character_path( character ) %>
    </span>
  </div>

  <div>
    <strong>Name:</strong>
    <%= character.first_name %> <%= character.last_name %>
  </div>

  <div>
    <strong>Occupation:</strong>
    <%= character.occupation%>
  </div>

  <div>
    <strong>Degrees:</strong>
    <%= character.degrees%>
  </div>

  <div>
    <strong>Birthplace:</strong>
    <%= character.birthplace %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= character.gender %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= character.age%>
  </div>
</div>
