<div>
  <strong>Investigator:</strong>
  <%= @character.investigator_name %>
</div>

<div>
  <strong>Name:</strong>
  <%= @character.last_name %>, <%= @character.first_name %>
</div>

<div>
  <strong>Occupation:</strong>
  <%= @character.occupation%>
</div>

<div>
  <strong>Degrees:</strong>
  <%= @character.degrees%>
</div>

<div>
  <strong>Birthplace:</strong>
  <%= @character.birthplace %>
</div>

<div>
  <strong>Gender:</strong>
  <%= @character.gender %>
</div>

<div>
  <strong>Age:</strong>
  <%= @character.age%>
</div>


<br/>
<% if @character.characteristic_set %>
  <div>
    <%= render 'characteristic_sets/characteristic_table', characteristic_set: @character.characteristic_set %>
  </div>
<% end %>


<br/>

<% if @character.skill_set %>
  <div>
    <%= render 'skill_sets/skill_table', skill_set: @character.skill_set %>
  </div>
<% end %>

<br/>
<div>
  <%= link_to button_tag( 'All Characters' ), characters_path %>
</div>