<div class="fright">
  <%= link_to 'All Characters', characters_path %> |
  <%= link_to 'Download PDF', character_path( @character, format: :pdf ), method: :get%> |
  <%= link_to 'Delete', character_path( @character ), method: :delete, confirm: 'Are you sure?' %>
</div>
<div class="cright"></div>

<%= render 'character_summary', character: @character %>

<%= render 'characteristic_sets/characteristic_table', character: @character %>

<div class="cleft"></div>

<%= render 'skill_sets/skill_table', character: @character %>