<div class="grid-x align-center skill-set">
  <div class="cell small-12 medium-4 large-4">
    <table>
      <tr>
        <td>
          Accounting <span class="skill-addition" id="accounting-additions" ></span>
          <%= f.hidden_field :accounting %>
        </td>
        <td id="accounting">
          <%= skill_set.accounting %>%
        </td>
      </tr>
      <tr>
        <td>
          Alertness <span class="skill-addition" id="alertness-additions" ></span>
          <%= f.hidden_field :alertness %>
        </td>
        <td id="alertness">
          <%= skill_set.alertness %>%
        </td>
      </tr>
      <tr>
        <td>
          Anthropology <span class="skill-addition" id="anthropology-additions" ></span>
          <%= f.hidden_field :anthropology %>
        </td>
        <td id="anthropology">
          <%= skill_set.anthropology %>%
        </td>
      </tr>
      <tr>
        <td>
          Archeology <span class="skill-addition" id="archeology-additions" ></span>
          <%= f.hidden_field :archeology %>
        </td>
        <td id="archeology">
          <%= skill_set.archeology %>%
        </td>
      </tr>
      <tr>
        <td>
          Art
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="art_1_text">
          <%= f.hidden_field :art_1 %>
          <%= f.text_field :art_1_text, class: "option-text-field" %> <span class="skill-addition" id="art_1-additions" ></span>
          </div>
        </td>
        <td id="art_1">
          <%= skill_set.art_1.to_i > 0 ? "#{skill_set.art_1}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="art_2_text">
          <%= f.hidden_field :art_2 %>
          <%= f.text_field :art_2_text, class: "option-text-field" %> <span class="skill-addition" id="art_2-additions" ></span>
          </div>
        </td>
        <td id="art_2">
          <%= skill_set.art_2.to_i > 0 ? "#{skill_set.art_2}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="art_3_text">
            <%= f.hidden_field :art_3 %>
            <%= f.text_field :art_3_text, class: "option-text-field" %> <span class="skill-addition" id="art_3-additions" ></span>
          </div>
        </td>
        <td id="art_3">
          <%= skill_set.art_3.to_i > 0 ? "#{skill_set.art_3}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          Artillery <span class="skill-addition" id="artillery-additions" ></span>
          <%= f.hidden_field :artillery %>
        </td>
        <td id="artillery">
          <%= skill_set.artillery %>%
        </td>
      </tr>
      <tr>
        <td>
          Athletics <span class="skill-addition" id="athletics-additions" ></span>
          <%= f.hidden_field :athletics %>
        </td>
        <td id="athletics">
          <%= skill_set.athletics %>%
        </td>
      </tr>
      <tr>
        <td>
          Bureaucracy <span class="skill-addition" id="bureaucracy-additions" ></span>
          <%= f.hidden_field :bureaucracy %>
        </td>
        <td id="bureaucracy">
          <%= skill_set.bureaucracy %>%
        </td>
      </tr>
      <tr>
        <td>
          Computer science <span class="skill-addition" id="computer_science-additions" ></span>
          <%= f.hidden_field :computer_science %>
        </td>
        <td id="computer_science">
          <%= skill_set.computer_science %>%
        </td>
      </tr>
      <tr>
        <td>
          Craft
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="craft_1_text">
            <%= f.hidden_field :craft_1 %>
            <%= f.text_field :craft_1_text, class: "option-text-field" %> <span class="skill-addition" id="craft_1-additions" ></span>
          </div>
        </td>
        <td id="craft_1">
          <%= skill_set.craft_1.to_i > 0 ? "#{skill_set.craft_1}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="craft_2_text">
            <%= f.hidden_field :craft_2 %>
            <%= f.text_field :craft_2_text, class: "option-text-field" %> <span class="skill-addition" id="craft_2-additions" ></span>
          </div>
        </td>
        <td id="craft_2">
          <%= skill_set.craft_2.to_i > 0 ? "#{skill_set.craft_2}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="craft_3_text">
            <%= f.hidden_field :craft_3 %>
            <%= f.text_field :craft_3_text, class: "option-text-field" %> <span class="skill-addition" id="craft_3-additions" ></span>
          </div>
        </td>
        <td id="craft_3">
          <%= skill_set.craft_3.to_i > 0 ? "#{skill_set.craft_3}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          Criminology <span class="skill-addition" id="criminology-additions" ></span>
          <%= f.hidden_field :criminology %>
        </td>
        <td id="criminology">
          <%= skill_set.criminology %>%
        </td>
      </tr>
      <tr>
        <td>
          Demolitions <span class="skill-addition" id="demolitions-additions" ></span>
          <%= f.hidden_field :demolitions %>
        </td>
        <td id="demolitions">
          <%= skill_set.demolitions %>%
        </td>
      </tr>
      <tr>
        <td>
          Disguise <span class="skill-addition" id="disguise-additions" ></span>
          <%= f.hidden_field :disguise %>
        </td>
        <td id="disguise">
          <%= skill_set.disguise %>%
        </td>
      </tr>
      <tr>
        <td>
          Dodge <span class="skill-addition" id="dodge-additions" ></span>
          <%= f.hidden_field :dodge %>
        </td>
        <td id="dodge">
          <%= skill_set.dodge %>%
        </td>
      </tr>
      <tr>
        <td>
          Drive <span class="skill-addition" id="drive-additions" ></span>
          <%= f.hidden_field :drive %>
        </td>
        <td id="drive">
          <%= skill_set.drive %>%
        </td>
      </tr>
    </table>
  </div>
  <div class="cell small-12 medium-4 large-4">
    <table>
      <tr>
        <td>
          Firearms <span class="skill-addition" id="firearms-additions" ></span>
          <%= f.hidden_field :firearms %>
        </td>
        <td id="firearms">
          <%= skill_set.firearms %>%
        </td>
      </tr>
      <tr>
        <td>
          First aid <span class="skill-addition" id="first_aid-additions" ></span>
          <%= f.hidden_field :first_aid %>
        </td>
        <td id="first_aid">
          <%= skill_set.first_aid %>%
        </td>
      </tr>
      <tr>
        <td>
          Forensics <span class="skill-addition" id="forensics-additions" ></span>
          <%= f.hidden_field :forensics %>
        </td>
        <td id="forensics">
          <%= skill_set.forensics %>%
        </td>
      </tr>
      <tr>
        <td>
          Foreign Language
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="foreign_language_1_text">
            <%= f.hidden_field :foreign_language_1 %>
            <%= f.text_field :foreign_language_1_text, class: "option-text-field" %> <span class="skill-addition" id="foreign_language_1-additions" ></span>
          </div>
        </td>
        <td id="foreign_language_1">
          <%= skill_set.foreign_language_1.to_i > 0 ? "#{skill_set.foreign_language_1}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="foreign_language_2_text">
            <%= f.hidden_field :foreign_language_2 %>
            <%= f.text_field :foreign_language_2_text, class: "option-text-field" %> <span class="skill-addition" id="foreign_language_2-additions" ></span>
          </div>
        </td>
        <td id="foreign_language_2">
          <%= skill_set.foreign_language_2.to_i > 0 ? "#{skill_set.foreign_language_2}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="foreign_language_3_text">
            <%= f.hidden_field :foreign_language_3 %>
            <%= f.text_field :foreign_language_3_text, class: "option-text-field" %> <span class="skill-addition" id="foreign_language_3-additions" ></span>
          </div>
        </td>
        <td id="foreign_language_3">
          <%= skill_set.foreign_language_3.to_i > 0 ? "#{skill_set.foreign_language_3}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          Humint <span class="skill-addition" id="humint-additions" ></span>
          <%= f.hidden_field :humint %>
        </td>
        <td id="humint">
          <%= skill_set.humint %>%
        </td>
      </tr>
      <tr>
        <td>
          Heavy machinery <span class="skill-addition" id="heavy_machinery-additions" ></span>
          <%= f.hidden_field :heavy_machinery %>
        </td>
        <td id="heavy_machinery">
          <%= skill_set.heavy_machinery %>%
        </td>
      </tr>
      <tr>
        <td>
          Heavy weapons <span class="skill-addition" id="heavy_weapons-additions" ></span>
          <%= f.hidden_field :heavy_weapons %>
        </td>
        <td id="heavy_weapons">
          <%= skill_set.heavy_weapons %>%
        </td>
      </tr>
      <tr>
        <td>
          History <span class="skill-addition" id="history-additions" ></span>
          <%= f.hidden_field :history %>
        </td>
        <td id="history">
          <%= skill_set.history %>%
        </td>
      </tr>
      <tr>
        <td>
          Law <span class="skill-addition" id="law-additions" ></span>
          <%= f.hidden_field :law %>
        </td>
        <td id="law">
          <%= skill_set.law %>%
        </td>
      </tr>
      <tr>
        <td>
          Medicine <span class="skill-addition" id="medicine-additions" ></span>
          <%= f.hidden_field :medicine %>
        </td>
        <td id="medicine">
          <%= skill_set.medicine %>%
        </td>
      </tr>
      <tr>
        <td>
          Melee weapons <span class="skill-addition" id="melee_weapons-additions" ></span>
          <%= f.hidden_field :melee_weapons %>
        </td>
        <td id="melee_weapons">
          <%= skill_set.melee_weapons %>%
        </td>
      </tr>
      <tr>
        <td>
          Military Science
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="military_science_1_text">
            <%= f.hidden_field :military_science_1 %>
            <%= f.text_field :military_science_1_text, class: "option-text-field" %> <span class="skill-addition" id="military_science_1-additions" ></span>
          </div>
        </td>
        <td id="military_science_1">
          <%= skill_set.military_science_1.to_i > 0 ? "#{skill_set.military_science_1}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="military_science_2_text">
            <%= f.hidden_field :military_science_2 %>
            <%= f.text_field :military_science_2_text, class: "option-text-field" %> <span class="skill-addition" id="military_science_2-additions" ></span>
          </div>
        </td>
        <td id="military_science_2">
          <%= skill_set.military_science_2.to_i > 0 ? "#{skill_set.military_science_2}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="military_science_3_text">
            <%= f.hidden_field :military_science_3 %>
            <%= f.text_field :military_science_3_text, class: "option-text-field" %> <span class="skill-addition" id="military_science_3-additions" ></span>
          </div>
        </td>
        <td id="military_science_3">
          <%= skill_set.military_science_3.to_i > 0 ? "#{skill_set.military_science_3}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          Navigate <span class="skill-addition" id="navigate-additions" ></span>
          <%= f.hidden_field :navigate %>
        </td>
        <td id="navigate">
          <%= skill_set.navigate %>%
        </td>
      </tr>
      <tr>
        <td>
          Occult <span class="skill-addition" id="occult-additions" ></span>
          <%= f.hidden_field :occult %>
        </td>
        <td id="occult">
          <%= skill_set.occult %>%
        </td>
      </tr>
      <tr>
        <td>
          Persuade <span class="skill-addition" id="persuade-additions" ></span>
          <%= f.hidden_field :persuade %>
        </td>
        <td id="persuade">
          <%= skill_set.persuade %>%
        </td>
      </tr>
    </table>
  </div>
  <div class="cell small-12 medium-4 large-4">
    <table>
      <tr>
        <td>
          Pharmacy <span class="skill-addition" id="pharmacy-additions" ></span>
          <%= f.hidden_field :pharmacy %>
        </td>
        <td id="pharmacy">
          <%= skill_set.pharmacy %>%
        </td>
      </tr>
      <tr>
        <td>
          Pilot
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="pilot_1_text">
            <%= f.hidden_field :pilot_1 %>
            <%= f.text_field :pilot_1_text, class: "option-text-field" %> <span class="skill-addition" id="pilot_1-additions" ></span>
          </div>
        </td>
        <td id="pilot_1">
          <%= skill_set.pilot_1.to_i > 0 ? "#{skill_set.pilot_1}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="pilot_2_text">
            <%= f.hidden_field :pilot_2 %>
            <%= f.text_field :pilot_2_text, class: "option-text-field" %> <span class="skill-addition" id="pilot_2-additions" ></span>
          </div>
        </td>
        <td id="pilot_2">
          <%= skill_set.pilot_2.to_i > 0 ? "#{skill_set.pilot_2}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="pilot_3_text">
            <%= f.hidden_field :pilot_3 %>
            <%= f.text_field :pilot_3_text, class: "option-text-field" %> <span class="skill-addition" id="pilot_3-additions" ></span>
          </div>
        </td>
        <td id="pilot_3">
          <%= skill_set.pilot_3.to_i > 0 ? "#{skill_set.pilot_3}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          Psychotherapy <span class="skill-addition" id="psychotherapy-additions" ></span>
          <%= f.hidden_field :psychotherapy %>
        </td>
        <td id="psychotherapy">
          <%= skill_set.psychotherapy %>%
        </td>
      </tr>
      <tr>
        <td>
          Ride <span class="skill-addition" id="ride-additions" ></span>
          <%= f.hidden_field :ride %>
        </td>
        <td id="ride">
          <%= skill_set.ride %>%
        </td>
      </tr>
      <tr>
        <td>
          Sigint <span class="skill-addition" id="sigint-additions" ></span>
          <%= f.hidden_field :sigint %>
        </td>
        <td id="sigint">
          <%= skill_set.sigint %>%
        </td>
      </tr>
      <tr>
        <td>
          Science
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="science_1_text">
            <%= f.hidden_field :science_1 %>
            <%= f.text_field :science_1_text, class: "option-text-field" %> <span class="skill-addition" id="science_1-additions" ></span>
          </div>
        </td>
        <td id="science_1">
          <%= skill_set.science_1.to_i > 0 ? "#{skill_set.science_1}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="science_2_text">
            <%= f.hidden_field :science_2 %>
            <%= f.text_field :science_2_text, class: "option-text-field" %> <span class="skill-addition" id="science_2-additions" ></span>
          </div>
        </td>
        <td id="science_2">
          <%= skill_set.science_2.to_i > 0 ? "#{skill_set.science_2}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="science_3_text">
            <%= f.hidden_field :science_3 %>
            <%= f.text_field :science_3_text, class: "option-text-field" %> <span class="skill-addition" id="science_3-additions" ></span>
          </div>
        </td>
        <td id="science_3">
          <%= skill_set.science_3.to_i > 0 ? "#{skill_set.science_3}%" : '' %>
        </td>
      </tr>
      <tr>
        <td>
          Search <span class="skill-addition" id="search-additions" ></span>
          <%= f.hidden_field :search %>
        </td>
        <td id="search">
          <%= skill_set.search %>%
        </td>
      </tr>
      <tr>
        <td>
          Stealth <span class="skill-addition" id="stealth-additions" ></span>
          <%= f.hidden_field :stealth %>
        </td>
        <td id="stealth">
          <%= skill_set.stealth %>%
        </td>
      </tr>
      <tr>
        <td>
          Surgery <span class="skill-addition" id="surgery-additions" ></span>
          <%= f.hidden_field :surgery %>
        </td>
        <td id="surgery">
          <%= skill_set.surgery %>%
        </td>
      </tr>
      <tr>
        <td>
          Survival <span class="skill-addition" id="survival-additions" ></span>
          <%= f.hidden_field :survival %>
        </td>
        <td id="survival">
          <%= skill_set.survival %>%
        </td>
      </tr>
      <tr>
        <td>
          Swim <span class="skill-addition" id="swim-additions" ></span>
          <%= f.hidden_field :swim %>
        </td>
        <td id="swim">
          <%= skill_set.swim %>%
        </td>
      </tr>
      <tr>
        <td>
          Unarmed combat <span class="skill-addition" id="unarmed_combat-additions" ></span>
          <%= f.hidden_field :unarmed_combat %>
        </td>
        <td id="unarmed_combat">
          <%= skill_set.unarmed_combat %>%
        </td>
      </tr>
      <tr>
        <td>
          Unnatural <span class="skill-addition" id="unnatural-additions" ></span>
          <%= f.hidden_field :unnatural %>
        </td>
        <td id="unnatural">
          <%= skill_set.unnatural %>%
        </td>
      </tr>
    </table>
  </div>
</div>
