<span>Characteristics & Rolls</span>
<table>
  <tr>
    <td>STR</td>
    <td><%=characteristic_set.strength%></td>
    <td>DEX</td>
    <td><%=characteristic_set.dexterity%></td>
    <td>INT</td>
    <td><%=characteristic_set.intelligence%></td>
    <td>Idea</td>
    <td><%=characteristic_set.idea%></td>
  </tr>
  <tr>
    <td>CON</td>
    <td><%=characteristic_set.constitution%></td>
    <td>APP</td>
    <td><%=characteristic_set.appearance%></td>
    <td>POW</td>
    <td><%=characteristic_set.power%></td>
    <td>Luck</td>
    <td><%=characteristic_set.luck%></td>
  </tr>
  <tr>
    <td>SIZ</td>
    <td><%=characteristic_set.size%></td>
    <td>SAN</td>
    <td><%=characteristic_set.sanity%></td>
    <td>EDU</td>
    <td><%=characteristic_set.education%></td>
    <td>Know</td>
    <td><%=characteristic_set.know%></td>
  </tr>
  <tr>
    <td colspan=2>99-Cthulhu Mythos</td>
    <td><%=@character.skill_set.cthulhu_mythos if @character.skill_set %></td>
    <td colspan=2>Damage Bonus</td>
    <td><%=characteristic_set.damage_bonus%></td>
  </tr>
</table>
<br/>
<div>Sanity Points: <%=@character.characteristic_set.sanity %></div>
<div>Magic Points: <%=@character.characteristic_set.magic_points %></div>
<div>Hit Points: <%=@character.characteristic_set.hit_points %></div>