<div class='page-title'>
  Characteristics
</div>
<div style="float: left; width: 600px;">
  <%= form_for :characteristic_set, method: :post, url: character_characteristic_sets_path do |f| %>
    <div>Do you wish to prioritize your character's attributes?  This will allow you to arrange the attributes' values from highest to lowest (the top-most attribute the will have the highest roll value, and the bottom-most attribute will have the lowest roll value).</div>
    <div class="button-box">
      <button id='yes' class="not-movable" type="button">Yes</button>
      <button type="button" class="movable" id="no-order">Nevermind, don't prioritize.</button>
    </div>

    <%= f.hidden_field :arranged, value: false %>
    <%= f.hidden_field :order %>

    <%
      characteristics = {
         strength: '?',
         dexterity: '?',
         power: '?',
         intelligence: '?',
         appearance: '?',
         constitution: '?',
         size: '?',
         education: '?'
      }
    %>
    <%= render 'order_characteristics', characteristics: characteristics %>

    <div class="button-box" >
      <button type="submit" class="movable" id="submit">Save priority and roll!</button>
      <button id='no' class="not-movable" type="submit">Nope, roll it!</button>
    </div>
<% end %>
</div>


<div style="float: left; width: 300px;">
  <%= render 'characteristic_info' %>
</div>