<div class="top-bar">
  <div class="top-bar-left">
    <ul class="breadcrumbs">
      <li><%= link_to('Home', user_path(current_user)) %></li>
      <li><%= link_to(character.campaign.name, character.campaign) %></li>
      <li><%= link_to(character.display_name, character) %></li>
      <li>Set Statistics</li>
    </ul>
  </div>
</div>

<div class="row align-center">
  <div class="column small-12 medium-8">
    <fieldset class="fieldset">
      <legend>Choose Statistic Values</legend>
      <div class="callout secondary">
        Choose your numbers.  You can assign these values to statistics after you select a set.
      </div>
      <table id='field-set-options'> </table>
      <div>
        Select One:
      </div>
      <div class='button-group tiny' id="option-select"> </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend>Assign Statistics</legend>
      <%= form_for :statistic_set,
        method: :post,
        url: dg_character_statistic_sets_path(character) do |f| %>
        <div class="grid-x">
          <div class="cell small-8">
            <div class='assign-attribute-name'>Strength (STR)</div>
            <div class='assign-attribute-name'>Constitution (CON)</div>
            <div class='assign-attribute-name'>Dexterity (DEX)</div>
            <div class='assign-attribute-name'>Intelligence (INT)</div>
            <div class='assign-attribute-name'>Power (POW)</div>
            <div class='assign-attribute-name'>Charisma (CHA)</div>
          </div>
          <div class="cell small-4 sortable-statistics">
            <div class="statistic-value sortable-statistic clearset">&nbsp;
              <div class="float-left">
                <%= f.hidden_field :strength %>
              </div>
              <div class="float-right">
                <div class="hide-for-small-only"><%= fa_icon 'sort' %></div>
                <div class="show-for-small-only"><a href="#" class="reorder-on-click"><%= fa_icon 'arrow-up' %></a></div>
              </div>
            </div>
            <div class="statistic-value sortable-statistic clearset">&nbsp;
              <div class="float-left">
                <%= f.hidden_field :constitution %>
              </div>
              <div class="float-right">
                <div class="hide-for-small-only"><%= fa_icon 'sort' %></div>
                <div class="show-for-small-only"><a href="#" class="reorder-on-click"><%= fa_icon 'arrow-up' %></a></div>
              </div>
            </div>
            <div class="statistic-value sortable-statistic clearset">&nbsp;
              <div class="float-left">
                <%= f.hidden_field :dexterity %>
              </div>
              <div class="float-right">
                <div class="hide-for-small-only"><%= fa_icon 'sort' %></div>
                <div class="show-for-small-only"><a href="#" class="reorder-on-click"><%= fa_icon 'arrow-up' %></a></div>
              </div>
            </div>
            <div class="statistic-value sortable-statistic clearset">&nbsp;
              <div class="float-left">
                <%= f.hidden_field :intelligence %>
              </div>
              <div class="float-right">
                <div class="hide-for-small-only"><%= fa_icon 'sort' %></div>
                <div class="show-for-small-only"><a href="#" class="reorder-on-click"><%= fa_icon 'arrow-up' %></a></div>
              </div>
            </div>
            <div class="statistic-value sortable-statistic clearset">&nbsp;
              <div class="float-left">
                <%= f.hidden_field :power %>
              </div>
              <div class="float-right">
                <div class="hide-for-small-only"><%= fa_icon 'sort' %></div>
                <div class="show-for-small-only"><a href="#" class="reorder-on-click"><%= fa_icon 'arrow-up' %></a></div>
              </div>
            </div>
            <div class="statistic-value sortable-statistic clearset">&nbsp;
              <div class="float-left">
                <%= f.hidden_field :charisma %>
              </div>
              <div class="float-right">
                <div class="hide-for-small-only"><%= fa_icon 'sort' %></div>
                <div class="show-for-small-only"><a href="#" class="reorder-on-click"><%= fa_icon 'arrow-up' %></a></div>
              </div>
            </div>
          </div>
          <div class="cell small-12">
            Derived Statistics:
          </div>
          <div class="cell small-8">
            <div class='assign-attribute-name grid-x'>
              <span class="small-12 medium-6">Hit Points (HP)</span>
              <span class='assign-attribute-subtext small-12 medium-6'>(STR + CON) รท 2</span>
            </div>
            <div class='assign-attribute-name  grid-x'>
              <span class="small-12 medium-6">Willpower (WP)</span>
              <span class='assign-attribute-subtext small-12 medium-6'>(POW)</span>
            </div>
            <div class='assign-attribute-name grid-x'>
              <span class="small-12 medium-6">Sanity (SAN)</span>
              <span class='assign-attribute-subtext small-12 medium-6'>(POW x 5)</span>
            </div>
            <div class='assign-attribute-name grid-x'>
              <span class="small-12 medium-6">Breaking Point (BP)</span>
              <span class='assign-attribute-subtext small-12 medium-6'>(SAN - POW)</span>
            </div>
          </div>
          <div class="cell small-4">
            <div class="statistic-value derived" id="hit-point">&nbsp;</div>
            <div class="statistic-value derived" id="willpower">&nbsp;</div>
            <div class="statistic-value derived" id="sanity">&nbsp;</div>
            <div class="statistic-value derived" id="breaking-point">&nbsp;</div>
          </div>
        </div>
        <%= f.submit 'Save', id: 'submit-statistics', disabled: true, class: 'button float-right' %>
      <% end %>
    </fieldset>
  </div>
</div>

<script type="text/javascript">
$(window).load(function() {
  _selectedOption = null

  const _finishSort = (event, ui) => {
      $($('.sortable-statistic input')[0]).attr('name', 'statistic_set[strength]')
      $($('.sortable-statistic input')[0]).attr('id', 'statistic_set_strength')
      $($('.sortable-statistic input')[1]).attr('name', 'statistic_set[constitution]')
      $($('.sortable-statistic input')[1]).attr('id', 'statistic_set_constitution')
      $($('.sortable-statistic input')[2]).attr('name', 'statistic_set[dexterity]')
      $($('.sortable-statistic input')[2]).attr('id', 'statistic_set_dexterity')
      $($('.sortable-statistic input')[3]).attr('name', 'statistic_set[intelligence]')
      $($('.sortable-statistic input')[3]).attr('id', 'statistic_set_intelligence')
      $($('.sortable-statistic input')[4]).attr('name', 'statistic_set[power]')
      $($('.sortable-statistic input')[4]).attr('id', 'statistic_set_power')
      $($('.sortable-statistic input')[5]).attr('name', 'statistic_set[charisma]')
      $($('.sortable-statistic input')[5]).attr('id', 'statistic_set_charisma')
      _resetDerivedStats()
  }

  const _onClickReorder = (event) => {
    event.preventDefault()
    const index = $('.reorder-on-click').toArray().indexOf(event.target.parentElement)
    const children = $('.sortable-statistics').children()
    const childToMove = children.splice(index, 1)[0]
    if(index==0) {
      children.push(childToMove)
    } else {
      children.splice(index-1,0, childToMove)
    }
    $('.sortable-statistics').html('')
    _.each(children, (child) =>  $('.sortable-statistics').append(child))
    _finishSort()
    $('.reorder-on-click').click(_onClickReorder)
  }
  $('.reorder-on-click').click(_onClickReorder)

  $('.sortable-statistics').sortable({ stop: _finishSort })

  _resetDerivedStats = () => {
    const str = Number($('#statistic_set_strength').val())
    const con = Number($('#statistic_set_constitution').val())
    const pow = Number($('#statistic_set_power').val())
    const san = pow * 5
    $('#hit-point').html(Math.ceil((str + con)/2) || '&nbsp;')
    $('#willpower').html(pow || '&nbsp;')
    $('#sanity').html(san || '&nbsp;')
    $('#breaking-point').html(san-pow || '&nbsp;')
  }

  _roll = () => {
    return (Math.floor(Math.random() * 6) + 1) +
      (Math.floor(Math.random() * 6) + 1) +
      (Math.floor(Math.random() * 6) + 1)
  }

  _.each(Dg.CharacteristSetOptions, (option) => {
    const tr = $(`<tr class="option-row" id='${option.id}'></tr>`)
    tr.append(`<td>${option.name}</td>`)
    _.each(option.values, (v) => tr.append(`<td>${v || '?'}</td>`))
    tr.appendTo('#field-set-options')

    const button = $('<button type="button" class="button option-selector"></button>')
    button.append(option.name)
    button.click((event) => {
      event.preventDefault()
      if(confirm(`Are you sure you want "${option.name}"? There is no going back...`)) {
        _selectedOption = option
        if(option.id == 'randomized') {
          _selectedOption.values = [_roll(), _roll(), _roll(), _roll(), _roll(), _roll()]
        }
        $('.option-selector').each((i, o) => {
          $(o).attr('disabled', true)
        })
        $('#submit-statistics').attr('disabled', false)
        $('tr.option-row').each((i, tr) => {
          if($(tr).attr('id') != option.id) {
            $(tr).css('opacity', '0.25')
          }
        })

        $(option.values).each( (i, v) => {
          $($('.sortable-statistic')[i]).append(v)
          $($('.sortable-statistic input')[i]).val(v)
        })
      }
      _resetDerivedStats()
    })
    button.appendTo('#option-select')
  })
})
</script>
